@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css');
@font-face {
  font-family: 'Antikor Mono';
  src: url('fonts/AntikorMono-Regular.woff2') format('woff2'),
       url('fonts/AntikorMono-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  font-family: 'Antikor Mono', monospace;
  box-sizing: border-box;
}
.container {
  display: flex;
  min-height: 100vh;
  background-color: whitesmoke;
}

.sidebar {
  width: 200px;
  padding: 100px 20px;
  border-right: 1px solid #ccc;
}

.logo{
  color: #333;
  margin-left: 10px;
  font-weight: bold;
  font-size: 20px;
  border: 2px solid black;
  padding-bottom: 20px;
}

.navigation {
  display: flex;
  flex-direction: column;
}

.nav-item {
  display: flex;
  align-items: center;
  padding: 10px 0;
  text-decoration: none;
  color: #333;
}
.nav-item span{
  font-size: 16px;
}
.nav-icon {
  margin-right: 10px;
}

.workspace {
  margin-top: 20px;
}

.workspace-title {
  font-size: 16px;
  font-weight: bold;
  color: #666;
}
