/* styles.css */
.note-complete-container.themeNote-1 {
  --textcolourmain:#322d20;
  --platformcontainer:#e6d5bc;
  --background-color:whitesmoke;
 --border:#dbc4a2;
 --input:#ece3d4;
 --textnotmain:#7f6e53;
}
.note-complete-container.themeNote-2 {
  --textcolourmain:#455a64;
  --platformcontainer:#B9C8BC;
  --background-color:whitesmoke;
 --border:#687f89b9;
 --input:#B9C8BC;
 --textnotmain:#505b5b;
}

.note-complete-container
{
  display: flex;
  background-color:var(--background-color);
}
.note-sidebar
{
  max-width:300px;
  padding: 30px;
}
.note-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.note-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
  border-bottom: 1px solid var(--border);
}

.note-header-title {
  font-size: 24px;
  font-weight: bold;
}

.note-main-content {

  overflow-y: auto;
  padding: 16px;
}

.note-grid {
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}

.note-card {
  background-color: var(--input);
  color: var(--card-foreground);
  border: 1px solid var(--input);
  border-radius: 8px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: auto;
  height: 300px;
  overflow: hidden;
}
.note-card:hover
{
  height:auto;
}
.note-content {
  padding: 16px;
}

.note-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 8px;
}

.note-description {
  font-size: 18px;
  color: var(--textcolourmain)
}
